header {

  padding-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid rgb(255 255 255 / 10%);



}

header h1 {
  font-size: 10vh;
}




@media (max-width: 768px) {
  header {
    grid-template-columns: repeat(5, 1fr);
  }

  header div {
    grid-column: 1/4;
  }

  header h1 {
    font-size: 10vh;
  }
}

@media (max-width: 480px) {
  header {
    height: 100vh;
  }
  header div {
    grid-column: 1/6;
  }
  header h1 {
    font-size: 9vh;
  }
}