nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 6rem;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}

nav img {
    height: 2.7rem;
    width: auto;
}


nav a {
    color: rgb(255 255 255 / 60%);
}

a:hover {
    color: rgb(255 255 255 / 100%);
}